
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Arial, sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a {
  text-decoration: none;
}
main {
  background-color:#fafafa;
}

.row {
  max-width: 1170px;
  position: relative;
  margin: 0 auto;
  padding: 0 15px;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  @media screen and(min-width: 480px){
    padding: 0 35px;
  }

  [class^="col-"] {

    float: left;
    &:not(:last-child) {
      @media screen and(min-width: 480px){
        margin-right: 40px;
      }
    }


  }
  .col-1-of-2 {

    @media screen and(min-width: 480px){
      width: calc((100% - #{40px}) / 2);
    }

  }
}
