<template>
  <footer>
    <div class="row footer-icons">
      <div class="icon-wrapper"><IconFacebook/></div>
      <div class="icon-wrapper"><IconTwitter/></div>
      <div class="icon-wrapper"><IconEmail/></div>
      <FooterNav/>
      <div class="icon-wrapper" @click="toTop"><IconTop/></div>
    </div>
  </footer>

</template>

<script>
import IconFacebook from '../icons/IconFacebook.vue'
import IconTwitter from '../icons/IconTwitter.vue'
import IconEmail from '../icons/IconEmail.vue'
import IconTop from '../icons/IconTop.vue'
import FooterNav from '../FooterNav.vue'

export default {
  name: 'Footer.vue',
  components: {
    IconFacebook, IconTwitter, IconTop, IconEmail, FooterNav
  },
  methods: {
    toTop() {
      window.scrollTo({
        top: 0,
        behavior: "smooth"
      });
    },
  }
}
</script>

<style scoped lang="scss">


footer {
  background-color: #dbdbdb;
  padding: 12px 0;
  margin-top: 60px;
}


.footer-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon-wrapper {
  border-radius: 50%;
  background-color: #f3f3f4;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 20px;
  }


  &:hover svg {
    fill: $green-1;
  }
}
</style>
