<template>
  <div class="grid" :style="styles">
    <slot></slot>
  </div>

</template>

<script>
export default {
  name: 'Grid.vue',
  props: {
    styles: Object
  }
}
</script>

<style scoped lang="scss">


</style>
