<script>
import HeaderNav from '../HeaderNav.vue'
import HeaderSearch from '../HeaderSearch.vue'
import InputSearch from '../InputSearch.vue'
import Grid from './Grid.vue'

export default {
  name: 'Header.vue',
  components: {
    HeaderNav,
    HeaderSearch,
    InputSearch,
    Grid
  },
  data () {
    return {
      headerHeight: null,
      isSearching: false,
      gridStyles: {
        display:'flex',
        alignItems: 'center',
        justifyContent: 'space-between',
        flexWrap: 'wrap',
        position: 'static'
      }
    }
  },
  mounted () {
    setTimeout(() => {this.headerHeight = this.$refs.header.clientHeight}, 100)
  },
  methods: {
    onSearchOpen () {
      this.isSearching = !this.isSearching
      setTimeout(() => {this.headerHeight = this.$refs.header.clientHeight}, 100)
    }
  }
}
</script>


<template>
  <header id="header" ref="header">
    <div class="row header-row">
      <img src="../../assets/logo.png" alt="Logo"/>
      <HeaderNav :headerHeight="headerHeight"/>
      <HeaderSearch @search-open="onSearchOpen"/>
      <InputSearch v-if="isSearching"/>
    </div>
  </header>
</template>

<style scoped lang="scss">

header {
  padding: 10px 0;
  border-bottom: none;
  position: relative;
  background-color: $gray-3;
  .logo {
    display: block;
    margin: 0 auto 2rem;
  }

  &::after {
    content: "";
    background: linear-gradient(90deg, rgba($green-1,1) 0%, rgba($green-2,1) 48%, rgba($blue-2,1) 100%);
    display: block;
    height: 8px;
    width: 100%;
    position: absolute;
    bottom: -8px;
    left: 0;
  }


  .header-row {
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: static;
  }
}
</style>
