<template>
  <div class="row articles-listing">
    <h3>Who we are</h3>
    <ArticleItem v-for="article in articles" :key="article.id" :article="article"/>
  </div>
</template>

<script>
import ArticleItem from './ArticleItem.vue'
import Grid from './layout/Grid.vue'

export default {
  name: 'ArticleListing.vue',
  components: {
    ArticleItem,
    Grid
  },
  data () {
    return {
      articles: [
        {
          id: 1,
          title: 'Lorem Ipsum #1',
          text:
              `Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.`,
          imgName: `article-1.jpg`
        },
        {
          id: 2,
          title: 'Lorem Ipsum #2',
          text:
              `Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.`,
          imgName: `article-2.jpg`
        }
      ],
      gridStyles: {
        maxWidth: '500px',
        marginTop: '50px'
      }
    }
  }
}
</script>

<style scoped lang="scss">
  h3 {
    font-size: 30px;
    color: $text-gray-2;
    margin-bottom: 10px;
    text-transform: uppercase;

    @media screen and(min-width: 480px){
      align-self: start;
    }
  }

  .articles-listing {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    max-width: 500px;

    @media screen and(min-width: 768px){
      margin-top: 40px;
    }
  }
</style>
