<template>
  <article class="article">
    <img :src="getImageUrl(article.imgName)" alt="" class="article__image">
    <div class="article__content">
      <h3 class="article__title">{{ article.title }}</h3>
      <p class="article__text">{{ article.text }}</p>
      <a href="#" class="article__button">Show More</a>
    </div>
  </article>
</template>

<script>


export default {
  name: 'ArticleItem.vue',
  props: {
    article: Object
  },
  methods: {
    getImageUrl(name) {
      return new URL(`../assets/img/${name}`, import.meta.url).href
    }
  }
}
</script>


<style scoped lang="scss">


  .article {
    display: flex;
    flex-direction: column;


    &:not(:last-child) {
      margin-bottom: 20px;
    }

    @media screen and(min-width: 480px){
      flex-direction: row;

      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }


    &__content {
      display: flex;
      flex-direction: column;

      font-size: 13px;
      color: $text-gray-2;

      @media screen and(min-width: 480px){
        margin-left: 40px;
      }
    }

    &__title {
      margin-bottom: 7px;
      font-size: 15px;
    }
    
    &__text {
      display: none;

      @media screen and(min-width: 480px){
        display: block;
      }
    }

    &__image {
      max-width: 193px;
      object-fit: none;
    }

    &__button {
      align-self: end;
      background-color: #f3f3f4;
      padding: 4px;
      color: $text-gray-2;
      text-transform: uppercase;
      margin-top: 5px;
      font-size: 9px;
      transition: all .2s ease;
      &:hover {
        background-color: $green-1;
        color: white;
      }
    }
  }

</style>
