<template>
  <carousel :items-to-show="1">
    <slide v-for="slide in slides" :key="slide" class="slide">
      <img src="../assets/icons/hero-icon.png" alt="Hero icon" class="hero-icon">
      <h2 class="hero-title">{{ slide.title }}</h2>
    </slide>
    <template #addons>
      <pagination v-if="windowWidth >= 480"/>
      <navigation  v-if="windowWidth < 480"/>
    </template>
  </carousel>
</template>

<script>
import 'vue3-carousel/dist/carousel.css';
import { Carousel, Slide, Pagination, Navigation } from 'vue3-carousel';
import store from '../store'

export default {
  name:
      'Carousel.vue',
  components: { Carousel, Slide, Pagination, Navigation },
  data () {
    return {
      slides: [
        {
          title: 'Lorem ipsum dolor sit'
        },
        {
          title: 'Lorem ipsum dolor sit'
        },
        {
          title: 'Lorem ipsum dolor sit'
        }
      ]
    }
  },
  methods: {
     getImageUrl:(name) => {
        return new URL(`../assets/${name}`, import.meta.url).href
      }
  },
  computed: {
    windowWidth () {
      return store.state.windowWidth
    }
  }
}

</script>

<style lang="scss">

.slide {
  background: #f3f1f1 url("../assets/img/bg.png") center no-repeat;
  min-height: 115px;
  padding: 25px 0 0 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  .hero-icon {
    width: 98px;
    height: 97px;
  }

  .hero-title {
    margin-top: 10px;
    width: 100%;
    background-color: #fafafa;
    padding: 10px 0;
    color: $text-gray-3;
  }

  @media screen and (min-width: 480px) {
    min-height: 200px;
    padding: 20px 25px 35px 25px;
    flex-direction: row;
    align-items: center;
    .hero-icon {
      width: 133px;
      height: 131px;
    }

    .hero-title {
      margin: 0 0 0 15px;
      width: auto;
      background-color: transparent;
      padding: 0;
      text-transform: uppercase;
      font-size: 37px;
    }
  }

  @media screen and (min-width: 768px) {
    min-height: 300px;
    .hero-icon {
      width: 170px;
      height: 167px;
    }

    .hero-title {
      font-size: 48px;
    }
  }
}


.carousel {
  margin-top: 8px;
}
.carousel__pagination {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding-left: 0;
}

.carousel__pagination-button {
  background-color: $gray-1;
  border-radius: 50%;
  height: 11px;
  width: 11px;
}

.carousel__pagination-button--active {
  background-color: $green-1;
}


.carousel__prev {
  top: 84%;
  left: 18px;
  transform: translate(-50%, -50%);
}

.carousel__next {
  top: 84%;
  right: 18px;
  transform: translate(50%, -50%);
}

.carousel__next,.carousel__prev {
  background-color: transparent;
  border-radius: unset;
  color: $gray-1;
}

</style>
