<template>
  <div class="mainNav" :class="headerVersion">
    <nav class="nav">
      <a href="#" class="homeLink pageLink">
        <span class="nav__text">Home</span>
        <span class="nav__symbol">&#47;</span>
      </a>
      <a href="#" class="aboutLink pageLink">
        <span class="nav__text">About Us</span>
        <span class="nav__symbol">&#47;</span>
      </a>
      <a href="#" class="workLink pageLink"><span
          class="nav__text">Our Work</span><span class="nav__symbol">&#47;</span></a>
      <a href="#" class="contactLink pageLink"><span class="nav__text">Contact</span></a>
    </nav>
  </div>
</template>

<script>
import store from '../store'


export default {
  name: 'FooterNav.vue',
  computed: {
    windowWidth () {
      return store.state.windowWidth
    },
    headerVersion () {
      if (this.windowWidth < 480) {
        return 'nav-xs'
      } else if (this.windowWidth < 768) {
        return 'nav-sm'
      } else {
        return 'nav-md'
      }
    }
  }
}
</script>

<style scoped lang="scss">

.mainNav {

  @media screen and(min-width: 480px){
    margin: 0 auto;
  }

  .nav__text {
    font-size: 14px;
  }

  .nav__symbol {
    display: none;
  }
}
.nav-xs {
  display: none;
}

.nav-sm {
  display: none;

}

.nav-md {
  margin: 0 auto;
}

.nav {

  &__text {
    color: $text-gray-1;
    padding: 0 10px;
    text-transform: uppercase;
  }

  &__symbol {
    color: $text-gray-1;
  }

  .homeLink:hover, .homeLink:focus, .homeLink:active {

    .nav__text {
      color: $green-1;
    }

  }


  .aboutLink:hover, .aboutLink:focus, .aboutLink:active {

    .nav__text {
      color: $green-2;
    }

  }

  .workLink:hover, .workLink:focus, .workLink:active {

    .nav__text {
      color: $blue-1;
    }

  }


  .contactLink:hover, .contactLink:focus, .contactLink:active {

    .nav__text {
      color: $blue-2;
    }

  }

}
</style>
