<template>

  <div class="mainNav" :class="headerVersion">
    <img src="../assets/burger.svg" alt="" class="menuIcon" @click="onMenuOpen">
    <nav :style="menuMobileStyle" :class="{ opened:menuOpened }" class="nav">
      <a href="#" class="homeLink pageLink">
        <span class="nav__icon"><IconHome/></span>
        <span class="nav__text">Home</span>
        <span class="nav__symbol">&#47;</span>
      </a>
      <a href="#" class="aboutLink pageLink">
        <span class="nav__icon"><IconAbout/></span>
        <span class="nav__text">About Us</span>
        <span class="nav__symbol">&#47;</span>
      </a>
      <a href="#" class="workLink pageLink">
        <span class="nav__icon"><IconWork/></span>
        <span class="nav__text">Our Work</span>
        <span class="nav__symbol">&#47;</span>
      </a>
      <a href="#" class="contactLink pageLink">
        <span class="nav__icon"><IconContact/></span>
        <span class="nav__text">Contact</span>
      </a>
    </nav>
  </div>
</template>

<script>
import store from '../store'
import IconHome from './icons/IconHome.vue'
import IconAbout from './icons/IconAbout.vue'
import IconWork from './icons/IconWork.vue'
import IconContact from './icons/IconContact.vue'


export default {
  name: 'Menu.vue',
  components: {
    IconHome,
    IconAbout,
    IconWork,
    IconContact
  },
  data () {
    return {
      menuOpened: false
    }
  },
  props: {
    headerHeight: Number
  },
  computed: {
    windowWidth () {
      return store.state.windowWidth
    },
    menuMobileStyle () {
      if (this.headerVersion === 'nav-xs') {
        return `top:${this.headerHeight}px;`
      }
    },
    headerVersion () {
      if (this.windowWidth < 480) {
        return 'nav-xs'
      } else if (this.windowWidth < 768) {
        return 'nav-sm'
      } else {
        return 'nav-md'
      }
    }
  },
  methods: {
    onMenuOpen () {
      this.menuOpened = !this.menuOpened
    }
  }
}
</script>

<style scoped lang="scss">

.menuIcon {
  width: 20px;
  height: 20px;
}

.pageLink {
  color: white;
  text-transform: uppercase;
}

.mainNav {

  @media screen and(min-width: 480px){
    margin: 0 auto;
  }

  .nav__text {
    font-size: 14px;
  }
}

.nav-xs {
  display: flex;
  margin-left: auto;
  position: static;

  nav.opened {
    display: flex;
  }

  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    left: 0;
    z-index: 1;
    width: 100%;


    .pageLink {
      display: block;
      padding: 0 1rem;
    }

    .homeLink {
      background-color: $green-1;
    }

    .aboutLink {
      background-color: $green-2;
    }

    .workLink {
      background-color: $blue-1;
    }

    .contactLink {
      background-color: $blue-2;
    }

    &__icon {
      display: none;
    }

    &__symbol {
      display: none;
    }
  }
}

.nav-sm {
  flex-grow: 1;

  .menuIcon {
    display: none;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    &__symbol {
      display: none;
    }

    &__text {
      display: none;
    }

  }

  .homeLink svg, .workLink svg, .aboutLink svg, .contactLink svg {
    fill: $gray-1;
  }


  .homeLink:hover, .homeLink:focus, .homeLink:active {
    svg {
      fill: $green-1;
    }
  }

  .workLink:hover, .workLink:focus, .workLink:active {
    svg {
      fill: $blue-1;
    }
  }

  .aboutLink:hover, .aboutLink:focus, .aboutLink:active {
    svg {
      fill: $green-2;
    }
  }

  .contactLink:hover, .contactLink:focus, .contactLink:active {
    svg {
      fill: $blue-2;
    }
  }

}

.nav-md {
  .menuIcon {
    display: none;
  }

  .nav {
    &__icon {
      display: none;
    }



    &__text {
      color: $text-gray-1;
      padding: 0 10px;
    }

    &__symbol {
      color: $text-gray-1;
    }
  }


  .homeLink:hover, .homeLink:focus, .homeLink:active {

    .nav__text {
      color: $green-1;
    }

  }


  .aboutLink:hover, .aboutLink:focus, .aboutLink:active {

    .nav__text {
      color: $green-2;
    }

  }

  .workLink:hover, .workLink:focus, .workLink:active {

    .nav__text {
      color: $blue-1;
    }

  }


  .contactLink:hover, .contactLink:focus, .contactLink:active {

    .nav__text {
      color: $blue-2;
    }

  }

}

</style>
