
<template>
  <div class="search-wrapper" style="">
    <img src="../assets/search.svg" alt="" class="searchIcon" @click="$emit('searchOpen')">
  </div>
</template>

<script>
export default {
  name: 'HeaderSearch'
}

</script>

<style scoped lang="scss">
.search-wrapper {
  margin-left: 10px;
  display: flex;

  @media screen and(min-width: 480px){
    //margin-left: auto;
  }
}

.searchIcon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
</style>
