<template class="kme">
  <input v-model="searchTerm" placeholder="Enter search term" type="text" ref="input">
</template>

<script>
export default {
  name: 'InputSearch',
  data () {
    return {
      searchTerm: ''
    }
  },
  mounted () {
    this.focusInput()
  },
  methods: {
    focusInput(){
      this.$refs.input.focus()
    }
  }
}
</script>

<style scoped lang="scss">
  input {
    flex-basis: 100%;
    margin-top: 10px;
  }

</style>
