<template>
  <div class="row services-listing">
    <h3>What we do</h3>
    <div class="col-1-of-2">
      <div class="icon-wrapper"><IconCalculator/></div>
      <div class="icon-wrapper"><IconClock/></div></div>
    <div class="col-1-of-2">
      <div class="icon-wrapper"><IconCloud/></div>
      <div class="icon-wrapper"><IconHeart/></div>
    </div>


  </div>
</template>

<script>
import IconCalculator from './icons/IconCalculator.vue'
import IconClock from './icons/IconClock.vue'
import IconCloud from './icons/IconCloud.vue'
import IconHeart from './icons/IconHeart.vue'

export default {
  name: 'ServicesListing.vue',
  components: {
    IconCalculator,
    IconClock,
    IconCloud,
    IconHeart
  }
}
</script>

<style scoped lang="scss">

h3 {
  font-size: 30px;
  color: $text-gray-2;
  margin-bottom: 10px;
  text-transform: uppercase;

  @media screen and(min-width: 480px){
    align-self: start;
    width: 100%;
  }
}

.services-listing {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  max-width: 500px;
  @media screen and(min-width: 480px){
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  @media screen and(min-width: 768px){
    margin-top: 40px;
  }
}

.icon-wrapper {
  background-color: $gray-2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 193px;
  height: 100px;
  cursor: pointer;
  margin-bottom: 20px;


  @media screen and(min-width: 480px){
    margin-bottom: 40px !important;

  }

  &:hover {
    svg {
      fill: $green-1;
    }
  }
}
</style>
