<template>
  <svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       viewBox="0 0 15 32.3"  xml:space="preserve" fill="#6d6e71" width="10px" height="22px">
    <path d="M15,10.5H9.9V7.1c0-1.3,0.8-1.6,1.4-1.6h3.6V0l-5,0C4.4,0,3.2,4.1,3.2,6.8v3.7H0v5.7h3.2v16.1h6.7V16.2h4.5
	L15,10.5z"/>
</svg>
</template>

<script>
export default {
  name: 'IconFacebook.vue'
}
</script>

<style scoped>

</style>
