<template>
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       viewBox="0 0 47.5 38.1" fill="#bababa" xml:space="preserve" width="25px" height="17px">
    <g>
	<polygon points="45.7,38.1 30.3,21.3 23.3,27.6 16.4,21.3 1.8,38.1 	"/>
      <polygon points="1.7,0 23.3,24.5 45.7,0 	"/>
      <polygon points="14.7,19.8 0,1.5 0,36.6 	"/>
      <polygon points="47.4,38.1 47.5,38.1 47.5,38.1 	"/>
      <polygon points="47.5,1.5 32,19.8 47.5,36.6 	"/>
      <polygon points="0,38.1 0,38.1 0,38.1 	"/>
</g>
</svg>
</template>

<script>
export default {
  name: 'IconContact.vue'
}
</script>

<style scoped>

</style>
