<template>
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       viewBox="0 0 63.5 54.8" fill="#bababa" xml:space="preserve" width="23px"
       height="20px">
<polygon points="31.6,6.6 9,23.5 9,54.8 25.5,54.8 25.5,32.8 38,32.8 38,54.8 54.5,54.8 54.5,23.5 "/>
    <polyline points="0,24 31.5,0 63.5,24 "/>
</svg>
</template>

<script>
export default {
  name: 'IconHome.vue'
}
</script>

<style scoped>

</style>

