<template>
  <svg version="1.1" id="Isolation_Mode" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
       y="0px" viewBox="0 0 33.6 23.4" xml:space="preserve" fill="#6d6e71" width="23px" height="16px">
    <path d="M26.9,3.9C26.9,3.9,26.9,3.8,26.9,3.9c-1.3-1.2-2.8-1.7-4.5-1.6l-0.1-0.1c0,0,0,0,0,0c1.5-0.3,2.5-0.7,2.7-1.1
	c0.1-0.3,0-0.5-0.4-0.5C24,0.6,23.3,0.8,22.6,1c0.8-0.5,1.1-0.8,0.9-1c-0.8,0-1.7,0.4-2.6,1.2c0.3-0.5,0.5-0.8,0.4-0.9
	c-0.4,0.3-0.8,0.6-1.1,0.9c-0.7,0.7-1.2,1.4-1.6,2l0,0.1c-1.1,1.7-1.8,3.3-2.3,5.1l-0.2,0.1l0,0c-0.7-0.8-1.4-1.4-2.4-2
	c-1.1-0.7-2.4-1.3-3.9-2c-1.6-0.8-3.3-1.5-4.9-2c0,1.8,0.9,3.2,2.7,4.2v0C7,6.8,6.4,6.9,5.8,7.1c0.1,1.6,1.3,2.8,3.7,3.4l0,0
	c-0.9,0-1.7,0.3-2.3,0.9c0.8,1.4,2.1,2.1,4.1,2.1c-0.4,0.2-0.7,0.4-0.9,0.6c-0.4,0.4-0.5,0.8-0.4,1.3c0.4,0.7,1.2,1.1,2.3,1l0.1,0.1
	l0,0c-1.9,1.9-4.2,2.7-7,2.6l0,0c-1.7,0-3.4-0.8-5.3-2.3c1.9,2.6,4.5,4.5,7.7,5.7c3.6,1.1,7.3,1.2,10.9,0.3h0.1
	c3.5-1,6.5-2.9,8.9-5.9c1.1-1.6,1.8-3.1,2.1-4.5c1.8,0.1,3.2-0.4,4-1.5l0,0C33,11,31.8,10.9,30,10.6v-0.2c0,0,0,0,0,0
	c1.9-0.2,3.1-0.8,3.5-1.8c-1.4,0.5-2.7,0.5-4,0C29.3,6.9,28.4,5.3,26.9,3.9"/>
</svg>
</template>

<script>
export default {
  name: 'IconTwitter.vue'
}
</script>

<style scoped>

</style>
