<template>
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       viewBox="0 0 22.1 40.8" xml:space="preserve" fill="#6d6e71" width="13px" height="23px">
    <path d="M9,0.9C9.5,0.3,10.3,0,11.1,0c0.8,0,1.5,0.3,2.1,0.9L21.3,9c0.6,0.6,0.8,1.3,0.8,2.1c0,0.7-0.3,1.5-0.9,2.1
	c-1.1,1.1-3,1.1-4.1,0L14,9.9v28c0,1.6-1.3,2.9-2.9,2.9c-1.6,0-2.9-1.3-2.9-2.9v-28L5,13.1c-1.1,1.1-3,1.1-4.1,0
	c-1.1-1.1-1.1-3,0-4.1L9,0.9"/>
</svg>

</template>

<script>
export default {
  name: 'IconTop.vue'
}
</script>

<style scoped>

</style>

