<template>
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       viewBox="0 0 38.1 38.1" xml:space="preserve" width="20px" height="20px" fill="#bababa">
    <path d="M19.1,0C8.5,0,0,8.5,0,19.1s8.5,19.1,19.1,19.1c10.5,0,19.1-8.5,19.1-19.1S29.6,0,19.1,0z M21.7,32h-4.9v-4.7
	h4.9V32z M26.4,18.2c-0.4,0.6-1.2,1.3-2.4,2.3l-1.2,0.9c-0.6,0.5-1.1,1.1-1.3,1.7c-0.1,0.4-0.2,1.1-0.2,1.9h-4.4
	c0.1-1.8,0.2-3.1,0.5-3.8c0.3-0.7,1-1.5,2.2-2.4l1.2-0.9c0.4-0.3,0.7-0.6,0.9-1c0.4-0.6,0.7-1.3,0.7-2c0-0.8-0.2-1.6-0.7-2.3
	c-0.5-0.7-1.4-1-2.7-1c-1.3,0-2.2,0.4-2.7,1.3c-0.5,0.8-0.8,1.7-0.8,2.6h-4.7c0.1-3.1,1.2-5.3,3.3-6.6c1.3-0.8,2.9-1.2,4.8-1.2
	c2.5,0,4.5,0.6,6.2,1.8c1.6,1.2,2.5,2.9,2.5,5.3C27.4,16,27.1,17.2,26.4,18.2z"/>
</svg>
</template>

<script>
export default {
  name: 'IconAbout.vue'
}
</script>

<style scoped>

</style>
