<template>
  <svg version="1.1" id="Isolation_Mode" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
       y="0px" viewBox="0 0 30.5 21.1" xml:space="preserve" fill="#9D9D9C" width="40px" height="37px">
    <path d="M26.8,9.7c0-0.2,0-0.4,0-0.6c0-5.1-4.1-9.2-9.1-9.2C14.1,0,11,2.1,9.6,5.2C8.9,4.7,8,4.4,7,4.4
	c-2.3,0-4.2,1.9-4.2,4.2C2.8,9,2.9,9.4,3,9.8c-1.8,1.1-3,3.1-3,5.4c0,3.2,2.7,5.9,6,5.9h0.1h0h0h18h0.3c3.3,0,6-2.7,6-6
	c0-2.5-1.5-4.6-3.7-5.5V9.7z"/>
</svg>
</template>

<script>
export default {
  name: 'IconCloud.vue'
}
</script>

<style scoped>

</style>

