<template>
  <svg version="1.1" id="Isolation_Mode" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
       y="0px" viewBox="0 0 25.8 25.8" xml:space="preserve" fill="#9D9D9C" width="40px" height="37px">
    <path d="M11.7,4.7v8.2v1.2h1.2h5.9v-1.2h-5.9V4.7H11.7z M12.9,2.6c5.7,0,10.3,4.6,10.3,10.3c0,5.7-4.6,10.3-10.3,10.3
	c-5.7,0-10.3-4.6-10.3-10.3C2.6,7.2,7.2,2.6,12.9,2.6 M12.9,25.8c7.1,0,12.9-5.8,12.9-12.9S20,0,12.9,0C5.8,0,0,5.8,0,12.9
	S5.8,25.8,12.9,25.8"/>
</svg>
</template>

<script>
export default {
  name: 'IconClock.vue'
}
</script>

<style scoped>

</style>
