<template>
  <svg version="1.1" id="Isolation_Mode" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
       y="0px" viewBox="0 0 29.3 25.8"  xml:space="preserve" fill="#9D9D9C" width="40px" height="37px">
    <path d="M21.1,0c-2.6,0-4.9,1.1-6.4,2.7C13.2,1.1,10.9,0,8.3,0C3.7,0,0,3.3,0,7.3c0,8.9,14.7,18.6,14.7,18.6
	s14.7-9.7,14.7-18.6C29.3,3.3,25.6,0,21.1,0"/>
</svg>
</template>

<script>
export default {
  name: 'IconHeart.vue'
}
</script>

<style scoped>

</style>
