<template>
  <svg version="1.1" id="Isolation_Mode" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
       y="0px" viewBox="0 0 22.9 26.3"  xml:space="preserve" fill="#9D9D9C" width="40px" height="37px">
    <path d="M20.6,9.1H2.3V2.3h18.3V9.1z M19.4,13.7h-2.3v-2.3h2.3V13.7z M19.4,17.1h-2.3v-2.3h2.3V17.1z M19.4,24h-2.3
	v-5.7h2.3V24z M16,13.7h-3.4v-2.3H16V13.7z M16,17.1h-3.4v-2.3H16V17.1z M16,20.6h-3.4v-2.3H16V20.6z M16,24h-3.4v-2.3H16V24z
	 M11.4,13.7H8v-2.3h3.4V13.7z M11.4,17.1H8v-2.3h3.4V17.1z M11.4,20.6H8v-2.3h3.4V20.6z M11.4,24H8v-2.3h3.4V24z M6.9,13.7H3.4v-2.3
	h3.4V13.7z M6.9,17.1H3.4v-2.3h3.4V17.1z M6.9,20.6H3.4v-2.3h3.4V20.6z M6.9,24H3.4v-2.3h3.4V24z M0,2.4v21.6c0,1.4,1.2,2.2,2.2,2.2
	h18.4c1.1,0,2.3-0.9,2.2-2.3c0-5.9-0.1-21.6,0-21.7c0-1.2-1.2-2.3-2.2-2.3C20.2,0,2.7,0.1,2.5,0C1.1,0,0,1.1,0,2.4"/>
</svg>
</template>

<script>
export default {
  name: 'IconAbout.vue'
}
</script>

<style scoped>

</style>
