<template>
  <svg version="1.1" id="Isolation_Mode" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
       y="0px" viewBox="0 0 33.8 25.9" fill="#bababa" xml:space="preserve" width="27px" height="21px">
    <path class="st0" d="M26.3,13.4l-9,5.6l-9.1-5.6v7l9.2,5.6l8.9-5.6V13.4z M30.5,8.6l3.4-1.7L17,0L0,6.9l17,9.4l12.1-6.9v8.2
	c-0.8,0.3-1.4,1.1-1.4,2c0,1.2,0.9,2.1,2.1,2.1c1.2,0,2.1-0.9,2.1-2.1c0-0.9-0.6-1.7-1.4-2V8.6z"/>
</svg>
</template>

<script>
export default {
  name: 'IconAbout.vue'
}
</script>

<style scoped>

</style>
