<template>
  <svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       viewBox="0 0 33.2 23.4" xml:space="preserve" fill="#6d6e71" width="23px" height="16px">
    <g>
	<path d="M10.9,11.7L0.6,1.4C0.2,2,0,2.7,0,3.4V20c0,0.7,0.2,1.4,0.6,1.9L10.9,11.7z"/>
      <path d="M0.9,22.3C1,22.4,1,22.4,0.9,22.3L0.9,22.3z"/>
      <path d="M14.5,14c1.1,1.1,3,1.1,4.1,0L31.9,0.8C31.3,0.3,30.6,0,29.8,0H3.4C2.6,0,1.9,0.3,1.3,0.8L14.5,14z"/>
      <path d="M32.1,22.4C32.1,22.4,32.2,22.4,32.1,22.4L32.1,22.4z"/>
      <path d="M21.6,12.4l-2.3,2.3c-0.7,0.7-1.7,1.1-2.7,1.1c-1,0-2-0.4-2.7-1.1l-2.3-2.3L1.3,22.6c0.6,0.5,1.3,0.8,2.1,0.8
		h26.4c0.8,0,1.5-0.3,2.1-0.8L21.6,12.4z"/>
      <path d="M32.5,1.4L22.3,11.7l10.3,10.2c0.4-0.6,0.6-1.2,0.6-1.9V3.4C33.2,2.7,32.9,2,32.5,1.4z"/>
</g>
</svg>
</template>

<script>
export default {
  name: 'IconEmail.vue'
}
</script>

<style scoped>

</style>
