<script>

import Header from './components/layout/Header.vue'
import Carousel from './components/Carousel.vue'
import Footer from './components/layout/Footer.vue'

import store from './store'

import ArticleListing from './components/ArticleListing.vue'
import ServicesListing from './components/ServicesListing.vue'


export default {
  components: {
    Header, Footer,
    Carousel,
    ArticleListing, ServicesListing
  },
  created () {
    window.addEventListener('resize', this.handleResize);
    this.handleResize();
  },
  destroyed () {
    window.removeEventListener('resize', this.handleResize);
  },
  methods: {
    handleResize () {
      store.commit('setWindowWidth')
    }
  }
}
</script>

<template>
  <Header/>
  <main>
    <Carousel/>
    <ArticleListing/>
    <ServicesListing/>
  </main>
  <Footer/>
</template>


<style lang="scss">
@import 'assets/scss/base-import';

</style>
